@media (min-height: 1100px) {
  .dish {
    height: calc(var(--vh) * 13.5);
  }
  .headline_img_container {
    height: calc(var(--vh) * 20);
  }
  .menu_img {
    height: calc(var(--vh) * 12);
  }
  .logo_area {
    height: calc(var(--vh) * 3);
  }
  footer {
    height: 80px;
  }
}

@media (max-width: 1100px) {
  .dish {
    height: calc(var(--vh) * 19);
  }
}

@media (max-width: 1000px) {
  .headline {
    margin-left: 24px;
  }
  .dish_margin_right {
    margin-right: 24px;
  }
  .menu_bar {
    padding-left: 24px;
    width: calc(100% - 24px) !important;
    gap: 8px 24px;
    padding-top: 12px;
  }
  .menu_item {
    height: 80%;
    gap: 8px;
  }
  footer {
    font-size: 10px;
  }
}

@media (max-width: 940px) {
  .content {
    width: calc(100% - 318px);
  }
  .basket_wrapper {
    width: 300px;
  }
}

@media (max-width: 804px) {
  .menu_bar {
    height: 8vh;
  }
  .menu_item {
    height: 40%;
  }
  .dish {
    height: calc(var(--vh) * 20.5);
  }
}

@media (max-width: 750px) {
  .dish {
    height: calc(var(--vh) * 21);
  }
}

@media (max-width: 671px) {
  .menu_bar {
    height: 12vh;
  }
  .menu_item {
    height: 27%;
  }
  .headline_img_container {
    height: 20vh;
  }
  .menu_img {
    height: 12vh;
  }
  .arrow_up {
    width: 80%;
  }
  .operator {
    font-size: 26px;
  }
  .button {
    font-size: 16px;
  }
  body {
    font-size: 14px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
  }
  footer {
    height: 64px;
  }
}

@media (max-width: 600px) {
  .basket_wrapper {
    width: 100%;
    height: calc(var(--vh) * 95);
    z-index: 50;
    background-color: white;
  }
  .order_list {
    margin-left: 48px;
    margin-right: 48px;
  }
  .content {
    width: 100%;
  }
  .dish {
    margin-right: 24px;
    height: calc(var(--vh) * 20);
  }
  .trash_column {
    text-align: right;
  }
  .table_dish {
    font-size: 16px;
  }
  .trash {
    height: 24px;
    width: 18px;
  }
  td {
    padding-bottom: 12px;
  }
  .menu_bar {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .arrow_up {
    width: 70%;
  }
  .full_width {
    width: calc(100% - 74px);
  }
}

@media (max-width: 540px) {
  footer {
    font-size: 8px;
  }
  .logo_div {
    width: 64px;
    height: 64px;
  }
}

@media (max-width: 480px) {
  .table_dish {
    padding-bottom: 6px;
  }
  td {
    padding-bottom: 6px;
  }
  .trash_column {
    text-align: right;
    padding-right: 8px;
  }
  .button_row {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .button {
    width: 75%;
  }
  .button_wrapper {
    width: 36px;
  }
  .button_up {
    width: 36px;
  }
  .full_width {
    width: calc(100% - 60px);
  }
  .full_width_img {
    width: calc(100% + 60px);
  }
}

@media (max-width: 420px) {
  .logo_area {
    height: 5vh;
  }
  .burger_menu {
    height: 26px;
    width: 26px;
  }
  .burger_icon {
    height: 26px;
    width: 26px;
  }
  .headline {
    margin-left: 14px;
  }
  .menu_bar {
    padding-left: 14px;
    width: calc(100% - 14px) !important;
  }
  .menu_item {
    height: 25%;
  }
  .menu_text {
    font-size: 16px;
  }
  .dish {
    margin-left: 14px;
    margin-right: 14px;
    height: calc(var(--vh) * 21);
  }
  .dish_margin_right {
    margin-right: 14px;
  }
  .order_list {
    margin-left: 36px;
    margin-right: 36px;
  }
}
