.logo_area {
  display: flex;
  flex-direction: row;
  gap: 18px;
  height: 10vh;
}

.burger_menu {
  display: flex;
  height: 36px;
  width: 36px;
  cursor: pointer;
  position: relative;
}

.burger_icon {
  height: 36px;
  width: 36px;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.2s;
}

.burger_icon.hover {
  opacity: 0;
}

.burger_menu:hover .hover {
  opacity: 1;
  transform: scale(1.2);
}

.burger_menu:hover .default {
  opacity: 0;
}

.full_screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.full_screen main {
  flex: 1;
}

.logo_img {
  width: 100%;
}

.headline_img {
  height: 30vh;
  width: 100%;
  object-fit: cover;
}

.content_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

.content {
  width: calc(100% - 418px);
}

.button_wrapper {
  width: 48px;
  height: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  position: fixed;
  bottom: 60px;
  right: 12px;
}

.button_up {
  width: 100%;
  color: rgba(255, 128, 0);
}

.button_up:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.arrow_up {
  width: 90%;
}

.basket_wrapper {
  width: 400px;
  height: 70vh;
  overflow-y: scroll;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-color: rgba(255, 128, 0, 0.678);
  box-sizing: border-box;
  box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.3);
}

.display_hide {
  display: none;
}

.basket {
  width: 100%;
  position: sticky;
  top: 0;
}

.menu_bar {
  padding-left: 32px;
  margin-right: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 24px;
  width: calc(100% - 32px);
  height: 4vh;
  display: flex;
  gap: 8px 64px; /* top-bottom, left-right*/
  background-color: rgba(255, 128, 0, 0.26);
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.cart_header {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.divider {
  border-top: 2px solid;
  border-color: rgba(255, 128, 0, 0.342);
  margin-left: 8px;
  margin-right: 8px;
}

.order_list {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 12px;
}

.calculation {
  padding-top: 12px;
  padding-left: 8px;
  padding-bottom: 12px;
}

.button_row {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 8px;
  padding-right: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(53, 60, 64, 0.637);
  display: none;
  justify-content: center;
  align-items: center;
}

.overlay.show {
  display: flex;
  flex-direction: column;
}

.overlay_content {
  background-color: white;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 36px;
  padding-right: 36px;
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(255, 128, 0, 0.678);
  max-height: 80vh;
  max-width: 90vw;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contribution {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 24px;
  padding-top: 12px;
  padding-right: 12px;
}

.contribution_box {
  text-decoration: none;
  color: rgba(53, 60, 64);
}

.footer_headlines {
  font-weight: 700;
  text-decoration: underline;
  color: rgba(53, 60, 64);
}
